<h1 class="page-header"><%= @artist.name %></h1>
<% @artist.albums(country: 'US').each do |album| %>
 <h3><%= album.name %></h3>
 <ul>
   <% album.tracks.each do |track| %>
     <li>
      <%= form_tag playlists_addtrack_path, method: "post" do %>
        <%= label_tag(:track, track.name) %>
        <%= hidden_field_tag 'track_id', track.id %>
        <%= submit_tag "Add Track", class: "btn btn-primary" %>
      <% end %>
     </li>
   <% end %>
 </ul>
<% end %>
