<h2>You have logged in</h2>
<h3>Select a playlist for people to add songs to:</h3>
<% if @playlists.any? %>
  <%= form_tag("/playlists", method: "post") do %>
    <% @playlists.each do |playlist| %>
      <%= radio_button_tag(:playlist, playlist.id ) %>
      <%= label_tag(:playlist_child, playlist.name) %>
      <%= playlist.owner.uri %>
    <% end %>
    <%= submit_tag("Select Playlist") %>
  <% end %>
<% end %>
